*{
  padding: 0;
  margin: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  height: 70px;
  border: 5px solid black;
  border-bottom: none;
}
nav div{
  display: flex;
}
nav h1,h3{
  color: black;
  margin:0px 10px 0px 10px;
  cursor: pointer;
}
.icon{
  width: 200px;
  height: 200px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  border: 5px solid black;
  border-top: none;
}
