*{
  padding: 0;
  margin: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  height: 70px;
  border: 5px solid black;
}
nav .nav-div{
  display: flex;
  align-items: center;
}
nav button{
  background-color: green;
  color: white;
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
}
nav h1,h3{
  color: black;
  margin:0px 10px 0px 10px;
  cursor: pointer;
}
.icon{
  width: 200px;
  height: 200px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  border: 5px solid black;
  border-top: none;
}

.service-container {
  display: flex;
 justify-content: center;
 align-items: center;
 height: 70vh;
 border: 5px solid black;
 border-top: none;
}
.service-container form{
  display: flex;
  flex-direction: column;
}
.service-container input{
  width: 250px;
}
.service-container h1{
  margin-bottom: 20px;
}
.service-container button{
  background-color: green;
  color: white;
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
}
.service-list-container .service-list-head{
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.service-list-container table{
  width: 50%;
}
.service-list-container table thead td{
  background-color: blue;
  color: white;
  padding: 10px;
}
.service-list-container table tbody td{
  background-color: rgb(215, 243, 234);
  padding: 10px;
}
.service-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.action-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  flex: 1;
}

.form-container form{
  display: flex;
  flex-direction: column;
}
.form-container form input,button{
  margin-top: 10px;
  padding: 10px;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.users-container div p{
  max-width: 250px;
  margin-bottom: 10px;
}
.users-container div div{
  display: flex;
}
.users-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.billing-head{
  display: flex;
  justify-content: space-evenly;
 margin: 20px 0px 20px 0px;
}
.billing-head form input{
  height: 37px;
  padding-left: 10px;
  margin-right: 10px;
}
.billing-table{
  width: 90%;
  height: 40vh;
}
.billing-table thead td{
  font-weight: bold;
  background-color: rgb(150, 146, 146);
  padding: 10px;
}
.billing-container{
  display: flex;
  justify-content: center;
}
.billing-table tbody td{
  background-color: rgb(209, 203, 203); 
  padding: 10px;
}

.policylist-head button{
  margin-right: 10px;
}
.policylist-head input{
  width: 150px;
  height: 25px;
  padding-left: 10px;
}
.policylist-head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.policylist-table{
  width: 80%;
  margin-top: 20px;
}
.policylist-table thead td{
  font-weight: bold;
  background-color: rgb(150, 146, 146);
  padding: 10px;
}
.policylist-table tbody td{
  background-color: rgb(209, 203, 203); 
  padding: 10px;
}
.policylist-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.policy-input-container div input{
  width: 350px;
}

.policy-input-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* @media only screen and (max-width: 500px) {
  
} */